.topicDeleteBtn{
    float: right;
}
.topicDelete{
    height: 100%;
    cursor: pointer;
    margin-left: 4em;
    color: red;
    font-size: 1em;
    float: right;

}
.topicDelete:hover{
    color: crimson
}
.topicPlace{
    padding-left: 1em;
    margin-top: -1em!important;
    /* margin-bottom: -1em!important; */
}
.messageOwner{
    margin-left: 1em;
}
.delAulbumBtn{
    font-family: 'Kanit'!important;
}
.comment{
    color: #777!important
}
.editProfile{
    color: cornflowerblue;
    font-family: 'Kanit'!important;
    font-size: 1.4em;
}
.editProfile:hover{
    text-decoration: underline
}
.menuName{
    font-family: 'Kanit'!important;
}
.editAvatar{
    padding-top: 2em;
}
.uploadAvatar{
    background-color: white;
    font-family: 'Kanit'!important;
    color:#333;
    cursor: pointer;
    align-items: center;
}
.uploadAvatar:hover{
    text-decoration: underline;
    color: #222;
}
.cancleAvatar{
    color:red;
    font-family: 'Kanit'!important;
    font-size: 1em;
    cursor: pointer;
    padding-left: 2em;
}
.cancleAvatar:hover{
    text-decoration: underline;
}
.avatarBtn{
    padding-top: 1em;
}
.profileData{
    font-family: 'Kanit'!important; 
    color:#333
}
.profileData2{
    font-family: 'Kanit'!important; 
    color:#555
}
.submitBtn{
    background-color: black!important;
    color: white!important;
    border-radius: 0px!important;
    opacity: 0.8;
    font-family: 'Kanit'!important; 
}
.submitBtn:hover{
    opacity: 0.7;
}
.formEditProfile{
    padding-bottom: 1em;
}
input{
margin-top: 0px!important
}
.formEdit{
    align-items: center
}
.editProfile{
    padding-top: 1em;
}
.tableMessage{
    padding: 1em!important;
    font-family: 'Kanit'!important; 
}
.dataWrap{
    padding: 0.5em;
}