.ui.secondary.menu{
    background-color: #111!important;
    padding: 10px!important;
}
.logoText{
    color: aliceblue!important;
    font-size: 18px;
    font-weight: bold!important;
}
.searchBar{
    width: 70%!important;
}
.menuRight{
    color: aliceblue!important;
    cursor: pointer;
    font-family: 'Kanit';
}
.welcomeContent{
    text-align: center;
    background-image: url("./welcome/welcome.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 680px;
    width: 100%
}
.headerContent{
    font-family: 'Kanit';
    font-size: 5em!important;
    margin-bottom: 30px!important;
}
.content{
    font-family: 'Kanit';
}
.buttonSignUp{
    font-family: 'Kanit'!important;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px!important;
    cursor: pointer;
}
.enterSite{
    margin-top: 5em!important;
    font-family: 'Kanit'!important;
    cursor: pointer;
    font-size: 20px!important;
    color: white;
}

/* mobile */
.logoTextMobile{
    color: aliceblue!important;
    font-size: 20px!important;
    /* font-weight: bold!important; */
    padding: 5px!important;
}
.MenuMobile{
    height: 5em!important;
}
.enterSiteMobile{
    margin-top: 8em!important;
    font-family: 'Kanit'!important;
    cursor: pointer;
    font-size: 20px!important;
}
.welcomeContent{
    /* width: 100%; */
    /* height: 100vh!important; */
    /* background-color: red; */
    background-size: cover
}
.ui.segments{
    margin: 0px!important;
}
.welcomeContentFullHd{
    text-align: center;
    background-image: url("./welcome/welcome.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1080px;
    width: 100%;
}
.welcomeContentIpad{
    text-align: center;
    background-image: url("./welcome/welcome.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1080px;
    width: 100%;
    height: 1024!important;
}
.welcomeContentMobile{
    text-align: center;
    background-image: url("./welcome/welcome.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 823px!important;
}